<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Article",
      "@id": "https://copybykaine.com/case-studies/exterior-cleaning-scotland/#article",
      "headline": "Exterior Cleaning Lead Generation Case Study: Wüsch, Scotland",
      "description": "How Facebook lead generation took a Scottish exterior cleaning company from part-time to full-time and booked around a month in advance.",
      "author": { "@id": "https://copybykaine.com/#kaine" },
      "publisher": { "@id": "https://copybykaine.com/#business" },
      "datePublished": "2026-09-04",
      "dateModified": "2026-09-04",
      "mainEntityOfPage": "https://copybykaine.com/case-studies/exterior-cleaning-scotland/",
      "about": { "@id": "https://copybykaine.com/industries/exterior-cleaning/#service" }
    },
    {
      "@type": "BreadcrumbList",
      "itemListElement": [
        { "@type": "ListItem", "position": 1, "name": "Home", "item": "https://copybykaine.com/" },
        { "@type": "ListItem", "position": 2, "name": "Case Studies", "item": "https://copybykaine.com/case-studies/" },
        { "@type": "ListItem", "position": 3, "name": "Exterior Cleaning, Scotland", "item": "https://copybykaine.com/case-studies/exterior-cleaning-scotland/" }
      ]
    }
  ]
}
</script>
