<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "CollectionPage",
      "@id": "https://copybykaine.com/guides/#page",
      "name": "Guides",
      "url": "https://copybykaine.com/guides/",
      "about": { "@id": "https://copybykaine.com/#business" },
      "description": "Guides on Facebook ads and lead generation for tradesmen in Scotland."
    },
    {
      "@type": "BreadcrumbList",
      "itemListElement": [
        { "@type": "ListItem", "position": 1, "name": "Home", "item": "https://copybykaine.com/" },
        { "@type": "ListItem", "position": 2, "name": "Guides", "item": "https://copybykaine.com/guides/" }
      ]
    }
  ]
}
</script>
